  <h2>Edycja użytkownika</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label: "E-mail" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", label: "Hasło", hint: "pozostaw puste jeżeli nie chcesz zmienić", required: false %>
    <%= f.input :password_confirmation, label: "Potwierdzenie hasła", required: false %>
    <%= f.input :current_password, label: "Aktualne hasło", hint: "wpisz swoje aktualne hasło", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Zmień" %>
  </div>
<% end %>

<h3>Usuń moje konto</h3>

<p> <%= link_to "Usuń moje konto", registration_path(resource_name), data: { confirm: "Jesteś pewny?" }, method: :delete %></p>

<%= link_to "Powrót", :back %>
