<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
    <nav class="navbar navbar-default">
      
        <div class="container">
          <div class="navbar-header">
            
            <%= link_to "Ranking Seriali", root_path, class: "navbar-brand" %>
          </div>
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to "Wyloguj", destroy_user_session_path, method: :delete %> </li>
                <li>  <%= link_to 'Ustawienia konta', edit_user_registration_path %> </li>
            <% else %>
              <li><%= link_to "Zarejestruj" , new_user_registration_path %></li>
              <li><%= link_to "Zaloguj" , new_user_session_path %></li>
              
            <% end %>
          </ul>
          
          
          <ul class="navbar-nav nav navbar-right">
            
            <li class = "dropdown">
              <a href="#" class = "dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Kategorie 
              <span class = "caret"> </span></a> 
              <ul class = "dropdown-menu" role="menu">
                <% Category.all.each do |category|  %>
                <li class = "<%= 'active' if params[:category] == category.nazwa %>">
                  <%= link_to category.nazwa, serials_path(category: category.nazwa), class: "link" %>
                </li>
                <% end %>
              </ul>
              </li>
              
              
            <% if user_signed_in? %>
              <li><%= link_to "Dodaj Serial" , new_serial_path %> </li>
            <% end %>
            
          </ul>
        </div>
      
    </nav>
  
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class = "container">
<%= yield %>
</div>

</body>
</html>
